html {
    color: #ffffff
  }

  body {
 
    
    
    
    color:  #777777;
    font-family: Arial;
    
    
    
    
  }

  #nav {
  
    border-bottom: solid #ccc ;
  
    
    height: 68px;
   
  }


  .Me { 
     
  
  font:color white;
  background-color:  #4aaaa5 ;
  margin-left: 480px;
  margin-right: 480px;
  width: 10%;
  height: 68px;
  font-family: Georgia;
  text-align: left;
  font-size: 100%;
  }

  .One {
    margin-left: 480px;
    margin-right: 480px;
    
    height: 68px;
    text-align: right;
    
    
    
    
  
  }

  li {
    display: inline;
    border-right: #6666 2px solid;
    padding: 10px;
    }

  #content {
    width: 960px;
  font-size: 25px;
  padding: 30px;
  
  border: solid #dddddd 480px;
  border-top: 36px solid #dddddd;
  border-bottom: 276px solid #dddddd;
  
  align-content: center;
    
  }

  .Contact {
    
    color: #4aaaa5;
    border-bottom: solid #ddd 2px;
    padding-bottom: 28px;
  }

  .Name {
    color: #666666;
 
    
  }
  .email {
    color:  #666666;
    
  }

.message {
  color: #666666;
}

input[type="submit"] {
  background-color:  #4aaaa5;
      
  }

  #footer {
    background-color:#666666;
    color: white;
    
    height: 60px;
    text-align: center;
    border-top: #4aaaa5 5px solid;
    
    
  }
  
 