html {
    color: #ffffff
  }

  .body {
    margin: auto;
  
  
    color:  #777777;
    font-family: Arial;
    
    
    
    
  }



  #nav {
  
    border-bottom: solid red 2px;
  padding-bottom: 30px;
  height: 90px;
  }

.Name {
  font:color white;
  background-color:  #4aaaa5;
  margin-left: 480px;
  margin-right: 480px;
  width: 197px;
  background-size: 90px 200px;
  font-family: Georgia;
  text-align: left;
  font-size: 200%;
}
  .One { 
    margin-left: 480px;
  margin-right: 480px;
  width: 960px;
  text-align: right;
  
  }

  li {
    display: inline;
    border-right: #6666 2px solid;
  padding: 10px;
  }

  #content {

  width: 960px;
  font-size: 25px;
  
  padding: 30px;
  border: solid #dddddd 480px;
  border-top: 16px solid #dddddd;
  border-bottom: 33px solid #dddddd;
  
  align-content: center;
    
  margin: 0px auto;
  
    
    
  }

  .Portfolio {
   
    color: #4aaaa5;
  border-bottom: solid #ddd 2px;
  padding-top: 0px;
  font-size: 100%;
  padding-bottom: 50px;
  margin-bottom: 0px;
  font-family: Georgia;
  }

  



  .Photos {
    float: left;
    width: 215px;
    height: 159px;
    margin: 33px;
    align-content: center;
  }

  figure {

    display: block;
    width:320px;
    height:50px;
    margin:0px;
    padding: 9px;
    text-align: left;
  }
figure img {
  width:200px;
  height: 150px;
  border: 1px solid #6666;

}

figcaption {
  background-image: url ("images/icon.png") no-repeat;
  padding-left:20px;
}
  

  #footer {
    background-color: #666666;
    color: white;
    
    height: 51px;
    text-align: center;
    border-top: #4aaaa5 5px solid;
    
  }

  